/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #87c5ff; /* Sky blue */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/* Game Area */
#game-area {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Satellite Image */
#satellite img {
    position: absolute;
    width: 200px; /* Set the size of the satellite */
    height: 300px; /* Set the size of the satellite */
    z-index: 999;
    bottom: 0; /* Start at the bottom */
    left: 50%; /* Start at the center horizontally */
    transform: translateX(-50%); /* Center the satellite */
}

/* Laser Styling */
.laser {
    position: absolute;
    width: 3px;
    height: 10px;
    background-color: red;
    z-index: 999;
}

/* Asteroid Styling */
.asteroid {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: cover;
    z-index: 1;  /* Ensuring the asteroids are behind the satellite */
}

#webcam-container {
    position: absolute;
    top: 10px;
    left: 10px;
}
